# 作業
- 新增一個欄位 `customized_age_grp`，把 `age` 分為 (0, 10], (10, 20], (20, 30], (30, 50], (50, 100] 這五組，
'(' 表示不包含, ']' 表示包含  
- Hints: 執行 ??pd.cut，了解提供其中 bins 這個參數的使用方式

In [10]:
import pandas as pd
?pd.cut
pd.cut(
    x,
    bins,
    right: bool = True,
    labels=None,
    retbins: bool = False,
    precision: int = 3,
    include_lowest: bool = False,
    duplicates: str = 'raise',
    ordered: bool = True,
)

# bins : int, sequence of scalars, or IntervalIndex
#     The criteria to bin by.

#     * int : Defines the number of equal-width bins in the range of `x`. The
#       range of `x` is extended by .1% on each side to include the minimum
#       and maximum values of `x`.
#     * sequence of scalars : Defines the bin edges allowing for non-uniform
#       width. No extension of the range of `x` is done.
#     * IntervalIndex : Defines the exact bins to be used. Note that
#       IntervalIndex for `bins` must be non-overlapping.

# [作業目標]
- 請同學試著查詢 pandas.cut 這個函數還有哪些參數, 藉由改動參數以達成目標
- 藉由查詢與改動參數的過程, 熟悉查詢函數的方法與理解參數性質, 並了解數值的離散化的調整工具

# [作業重點]
- 仿照 In[3], In[4] 的語法, 並設定 pd.cut 的參數以指定間距

In [2]:
# 載入套件
import os
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# 初始設定 Ages 的資料
ages = pd.DataFrame({"age": [18,22,25,27,7,21,23,37,30,61,45,41,9,18,80,100]})

In [4]:
ages

    age
0    18
1    22
2    25
3    27
4     7
5    21
6    23
7    37
8    30
9    61
10   45
11   41
12    9
13   18
14   80
15  100

In [5]:
# 新增欄位 "customized_age_grp", 指定區間為 [0, 10, 20, 30, 50, 100] 做劃分
ages["customized_age_grp"] = pd.cut(ages["age"], [0, 10, 20, 30, 50, 100])
# 觀察指定區間的劃分, 以及範例中兩者劃分, 與原始數值 age 的關係
ages

    age customized_age_grp
0    18           (10, 20]
1    22           (20, 30]
2    25           (20, 30]
3    27           (20, 30]
4     7            (0, 10]
5    21           (20, 30]
6    23           (20, 30]
7    37           (30, 50]
8    30           (20, 30]
9    61          (50, 100]
10   45           (30, 50]
11   41           (30, 50]
12    9            (0, 10]
13   18           (10, 20]
14   80          (50, 100]
15  100          (50, 100]

#### 等寬劃分

In [6]:
# 新增欄位 "equal_width_age", 對年齡做等寬劃分
ages["equal_width_age"] = pd.cut(ages["age"], 4)

In [7]:
# 觀察等寬劃分下, 每個種組距各出現幾次
ages["equal_width_age"].value_counts() # 每個 bin 的值的範圍大小都是一樣的

(6.907, 30.25]    10
(30.25, 53.5]      3
(76.75, 100.0]     2
(53.5, 76.75]      1
Name: equal_width_age, dtype: int64

In [8]:
# 觀察等寬劃分下, 給定組別名稱
ages["equal_width_age_labeled"] = pd.cut(ages["age"], 4, labels = ['Group1', "Group2", 'Group3','Group4'])

ages["equal_width_age_labeled"]

0     Group1
1     Group1
2     Group1
3     Group1
4     Group1
5     Group1
6     Group1
7     Group2
8     Group1
9     Group3
10    Group2
11    Group2
12    Group1
13    Group1
14    Group4
15    Group4
Name: equal_width_age_labeled, dtype: category
Categories (4, object): ['Group1' < 'Group2' < 'Group3' < 'Group4']

#### 等頻劃分

In [9]:
# 新增欄位 "equal_freq_age", 對年齡做等頻劃分
ages["equal_freq_age"] = pd.qcut(ages["age"], 4)

In [10]:
# 觀察等頻劃分下, 每個種組距各出現幾次
ages["equal_freq_age"].value_counts() # 每個 bin 的資料筆數是一樣的

(42.0, 100.0]     4
(26.0, 42.0]      4
(20.25, 26.0]     4
(6.999, 20.25]    4
Name: equal_freq_age, dtype: int64

In [11]:
# precision
ages["equal_freq_age_in5p"] = pd.qcut(ages["age"], 4, precision = 5)
ages["equal_freq_age_in5p"]

0     (6.99999, 20.25]
1        (20.25, 26.0]
2        (20.25, 26.0]
3         (26.0, 42.0]
4     (6.99999, 20.25]
5        (20.25, 26.0]
6        (20.25, 26.0]
7         (26.0, 42.0]
8         (26.0, 42.0]
9        (42.0, 100.0]
10       (42.0, 100.0]
11        (26.0, 42.0]
12    (6.99999, 20.25]
13    (6.99999, 20.25]
14       (42.0, 100.0]
15       (42.0, 100.0]
Name: equal_freq_age_in5p, dtype: category
Categories (4, interval[float64]): [(6.99999, 20.25] < (20.25, 26.0] < (26.0, 42.0] < (42.0, 100.0]]

In [33]:
?pd.qcut